<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKLIST</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1 class="main-header">JOURNAL REVIEW CHECKLIST</h1>
    <%- include('./includes/navigation.ejs') %>
    <% if(errorMessage) { %>
        <div class="user-message user-message--error">
            <%= errorMessage %> </div>
    <% } %>  
        <form action="/" method="POST" class="checklist">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="list">
                <% for (let item of items) { %>
                    <div class="list-item">
                        <label class="container">
                            <div class="descriptionContainer">
                                <%= item.description %>
                            </div>
                            <input type="checkbox" class="checks" name=<%=item._id %> id="<%= item.number %>" >   
                            <span class="checkmark"></span>                      
                        </label>
                        <!-- <label for="<%= item.number %>"><%= item.description %></label> -->
                    </div>
                    <% } %>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
</body>

</html>