<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKLIST</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1 class="main-header">JOURNAL REVIEW CHECKLIST</h1>
    <%- include('./includes/navigation.ejs') %>
        <form action="/" method="POST" class="checklist">
            <div class="list">
                <% for (let item of items) { %>
                    <div class="list-item">
                        <label for="<%= item.number %>"><%= item.description %></label>
                        <input type="checkbox" class="checks" name=<%=item._id %> id="
                        <%= item.number %>" >
                    </div>
                    <% } %>
            </div>
            <button type="submit" id="btn">Submit</button>
        </form>
</body>

</html>