<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Settings</title>
        <script src="https://use.fontawesome.com/2f793fe1c8.js"></script>
        <style>
            .btn {
            display: inline-block;
            padding: 5px 15px;
            margin: 3px;
            text-decoration: none;
            font: inherit;
            border: 1px solid #b6b5b5;
            color: #264dcc;
            background: white;
            border-radius: 5px;
            cursor: pointer;
            }
            .btn:hover,
            .btn:active {
            background-color: #264dcc;
            color: white;
            }
            .btn.danger {
            color: red;
            border-color: #b6b5b5
            }
            .btn.danger:hover,
            .btn.danger:active {
            background: red;
            color: white;
            border-color: red;
            }
            .label1 {
            font-size: 40;
            font-family:Georgia, 'Times New Roman', Times, serif;
            /* align-self: center; */
            }
            .main-container {
            margin-left: 2.5%;
            margin-right: 2.5%;
            display: flex;
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            padding: 10px;

            margin-top: 15px;
            margin-bottom: 15px;
            }
            .form1{
            display: inline-block;
            }
            .div1{
                display: flex;
                flex-grow: 1;
                /* justify-content: center; */
                align-items: center;
                flex-direction: row;
            }
            .buttons-container{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .number-style{
                padding: 10px;
                /* font-size: 15px; */
            }
            </style>
    </head>
    <body>
        <h1>JOURNAL REVIEW CHECKLIST SETTINGS</h1>
        <% for (let item of items) { %>
            <div class="main-container">
                <div class="div1">
                    <p class="number-style"><%= item.number %>.</p>
                    <p class="label1"><%= item.description %></p>            
                </div>
                <div class="buttons-container"> 
                    <form class="form1" action="/settings-delete" method="POST">
                        <input type="hidden" name="itemToDelete" value=<%= item._id %> id=<%= item.number %>>
                        <input type="hidden" name="itemNumber" value=<%= item.number %> id=<%= item.number %>>
                        <button class="btn danger" type="submit">DELETE</button>
                    </form>
                    <a href="/settings-edit/<%= item._id %>" class="btn">EDIT</a>
                    <form class="form1" action="/settings-move" method="POST">
                        <input type="hidden" name="itemToMove" value=<%= item._id %>>
                        <input type="hidden" name="action" value="up" %>>
                        <input type="hidden" name="itemsList" value=<%= item.number %>>
                        <button class="btn"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                    </form>
                    <form class="form1" action="/settings-move" method="POST">
                        <input type="hidden" name="itemToMove" value=<%= item._id %>>
                        <input type="hidden" name="action" value="down" %>>
                        <input type="hidden" name="itemsList" value=<%= item.number %>>
                        <button class="btn"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        <% } %>
    </body>
</html>
